.Cadastro {
  background-image: url(./Imagens/pontosturisticos3.jpg);
  background-size: cover;
  height: 562px;
  padding: 50px 0 0 800px;
  h2{
    color:rgb(9, 83, 126);
    width: 40%;
    padding: 190pt 0 0 50pt;
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1{
    margin-top: 0;
    color: white;
  }
    form {
      justify-content: space-around;
      width: 100%;
      color: rgba(255, 0, 0, 0.712);
      font-weight: bold;
    }
  button{
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.712);
    border: none;
    border-radius: 10pt;
    color: white;
    height: 35px;
    width: 150px;
    font-size: 12pt;
    cursor: pointer;
  }
}
